.wrapper{min-width: 1200px;}

body{
    font-family: 'pt' , sans-serif;
    letter-spacing: -0.025em;
    min-width: 1200px;
    
}

.blind{
    position: absolute;
    width: 1px;height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}



